<app-header />

<main class="card-container">
  <p-card header="Editar usuário" class="min-w-[15rem] mt-10">
    <form [formGroup]="formValue" (ngSubmit)="submit()" class="flex flex-col space-y-2">
      
      <app-input-name
        [formGroup]="formValue" 
        [required]="true"
        [controlName]="'name'"
        charSize="{{ maxTextCharSize }}"
        minCharSize="{{ minTextCharSize }}"
      />

      <app-input-email 
        [formGroup]="formValue" 
        [required]="true"
        [controlName]="'email'"
      />

      <div class="flex justify-between space-x-2 flex-wrap">
        <app-input-country 
          class="flex-1 min-w-[10rem]"
          [formGroup]="formValue" 
          [required]="true" 
          [controlName]="'country'">
        </app-input-country>
        
        <app-input-state 
          class="flex-1 min-w-[10rem]"
          [controlName]="'state'"
          [formGroup]="formValue" 
          [required]="true"
          [states]="states">
        </app-input-state>
      </div>

      <div class="flex justify-between space-x-2 flex-wrap">
        <app-input-cpf 
          class="flex-1 min-w-[10rem]"
          [formGroup]="formValue" 
          [controlName]="'cpf'"
        />
        <app-date-picker
          class="flex-1 min-w-[10rem]"
          [formGroup]="formValue" 
          [required]="true"
          [controlName]="'birthDate'"
        />
      </div>

      <div>
        <app-input-number 
          [formGroup]="formValue" 
          [required]="true"
          [controlName]="'number'"
          [typeControlName]="'numberType'"
        />
      </div>

      <button pButton type="submit" [disabled]="formValue.invalid" class="mt-4 py-3 w-full text-lg">
        <span pButtonLabel>Salvar Alterações</span>
      </button>
      <button class="mt-4 w-full text-lg text-blue-500 font-bold hover:cursor-pointer hover:underline" (click)="logout()">
        <a [routerLink]="URL.HOME_URL">Voltar</a>
      </button>
    </form>
  </p-card>


  @if (sideBarService.isOpen(); as open) {
    <div
      class="fixed inset-0 bg-black opacity-50 z-40"
      (click)="sideBarService.close()"
    ></div>

    <div
      class="fixed top-0 left-0 h-full w-72 bg-white z-50 shadow-lg"
    >
      @if (loggedUser$ | async; as loggedUser) {
        <app-profile-card [user]="loggedUser" [logout]="logout.bind(this)" (editEvent)="editUser($event)"/>
      }
    </div>
  }
</main>

