<main class="min-h-screen flex flex-col bg-gray-100 relative">
  <app-header />

  <div class="flex flex-1 w-full">
    <section class="flex flex-col justify-between flex-1 px-6 pt-6 overflow-y-auto">
      <div>
        <app-client-filters (filterChanged)="onFiltersChanged($event)"></app-client-filters>
        
        <div class="flex justify-end mb-4">
          <button
            pButton
            icon="pi pi-plus"
            label="Novo Cliente"
            class="p-button-success"
            (click)="createNew()">
          </button>
        </div>
        @if (users$ | async; as users) {
          <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
            @for (user of users; track user.id) {
              <div class="p-2">
                <app-client-card [user]="user"></app-client-card>
                <div class="flex gap-2 mt-2 justify-end">
                  <button
                    pButton
                    icon="pi pi-pencil"
                    class="p-button-warning"
                    (click)="editUser(user.email)">
                  </button>
                  <button
                    pButton
                    icon="pi pi-trash"
                    class="p-button-danger"
                    (click)="deleteUser(user)">
                  </button>
                </div>
              </div>
            }
          </div>
        }
      </div>
      <p-paginator
        [rows]="6"
        [totalRecords]="usersLength$ | async"
        [rowsPerPageOptions]="[3, 6, 9]"
        (onPageChange)="onPageChange($event)"
        class="mt-6"
      />
    </section>
  </div>

  @if (sidebarService.isOpen(); as open) {
    <div
      class="fixed inset-0 bg-black opacity-50 z-40"
      (click)="sidebarService.close()"
    ></div>

    <div
      class="fixed top-0 left-0 h-full w-72 bg-white z-50 shadow-lg"
    >
      @if (loggedUser$ | async; as loggedUser) {
        <app-profile-card [user]="loggedUser" [logout]="logout.bind(this)" (editEvent)="editUser($event)"/>
      }
    </div>
  }

  <app-modal-confirmation
    [visible]="modalVisible"
    [title]="'Confirmar exclusão'"
    [description]="modalConfirmationText"
    (cancel)="onCancelDelete()"
    (confirm)="onConfirmDelete()"
  />
</main>
