<div [formGroup]="form" class="flex gap-4 mb-4 items-end flex-wrap">
  <div>
    <label for="country" class="block text-sm font-medium text-gray-700">País</label>
    <p-select
      inputId="country"
      formControlName="country"
      [options]="countriesList"
      optionLabel="name"
      placeholder="Todos"
      class="w-48"
    ></p-select>
  </div>

  <div>
    <label for="state" class="block text-sm font-medium text-gray-700">Estado</label>
    <p-select
      inputId="state"
      formControlName="state"
      [options]="statesList"
      optionLabel="name"
      placeholder="Todos"
      class="w-48"
    ></p-select>
  </div>

  
  <p-button
    type="button"
    label="Limpar filtros"
    class=""
    (click)="clearFilters()"
  ></p-button>
</div>
