<p-card class="w-full shadow-md">
  <ng-template pTemplate="header">
    <div class="flex items-center px-4 py-2 gap-4">
      <img
        src="/default-avatar.avif"
        class="w-16 h-16 rounded-full"
        alt="Avatar do cliente"
      />
      <div>
        <p class="text-lg font-semibold">{{ user.name }}</p>
        <p class="text-sm text-gray-600">{{ user.email }}</p>
      </div>
    </div>
  </ng-template>

  <div class="text-sm text-gray-700">
    <p><strong>País:</strong> {{ user.country }}</p>
    <p><strong>Estado:</strong> {{ user.state }}</p>
  </div>
</p-card>